$ cat .gitignore

# игнорируем папки 
__history/
__recovery/
Win32/
bin/
dcu/
Android/
Android64/

# игнорируем файлов
*.res
*.local
*.identcache
*.pdf
*.dbg
*.dmp


# Файлы исключения
!trans2quik.res
*.csv
*.zip
